In [0]:
from google.colab import files
import pandas as pd

In [0]:
uploaded = files.upload()

Saving train.csv to train.csv

In [0]:
titanic_data = pd.read_csv('train.csv', sep = ',', names=['passengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked'], header=0)

In [0]:
titanic_data.head(3)

   passengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S

[3 rows x 12 columns]

In [0]:
titanic_data.shape

(891, 12)

In [0]:
titanic_data.isnull().sum()

passengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [0]:
titanic_data.describe()

       passengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [0]:
col_names = titanic_data.columns.tolist()

In [0]:
for col in col_names:
  
  print("Empty fields on <{colName}>: {empData}".format(colName = col, empData = titanic_data[col].isnull().sum()))

Empty fields on <passengerId>: 0
Empty fields on <Survived>: 0
Empty fields on <Pclass>: 0
Empty fields on <Name>: 0
Empty fields on <Sex>: 0
Empty fields on <Age>: 177
Empty fields on <SibSp>: 0
Empty fields on <Parch>: 0
Empty fields on <Ticket>: 0
Empty fields on <Fare>: 0
Empty fields on <Cabin>: 687
Empty fields on <Embarked>: 2

In [0]:
titanic_data.groupby(['Embarked' , 'Sex'])['Survived'].sum()

Embarked  Sex
C         female     64
          male       29
Q         female     27
          male        3
S         female    140
          male       77
Name: Survived, dtype: int64